<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/form.css">
    <title>Webpage</title>
</head>
<body>
    <h1>Webpage</h1>
    <form action="/webpageadded" method="post">
        
        <label for="name">Name:</label>
        <input type="text" name="name" placeholder="name">
        <br><br>
        <label for="desc">Description:</label>
        <input type="text" name="desc" placeholder="description">
        <br><br>
        <label>Author 1:</label>
        <input type="text" name="author1fname" placeholder="author1 first name">
        <input type="text" name="author1lname" placeholder="author1 last name">
        <br><br>
        <label>Author 2:</label>
        <input type="text" name="author2fname" placeholder="author2 first name">
        <input type="text" name="author2lname" placeholder="author2 last name">
        <br><br>
        <label>Author 3:</label>
        <input type="text" name="author3fname" placeholder="author3 first name">
        <input type="text" name="author3lname" placeholder="author3 last name">
        <br><br>
        <label>Author 4:</label>
        <input type="text" name="author4fname" placeholder="author4 first name">
        <input type="text" name="author4lname" placeholder="author4 last name">
        <br><br>
        
        <label for="dop">Date of Publishing:</label>
        <input type="number" name="dd" placeholder="dd">-
        <input type="number" name="mm" placeholder="mm">-
        <input type="number" name="yyyy" placeholder="yyyy">
        <br><br>
        
        <label for="url">URL:</label>
        <input type="text" name="url" placeholder="url">
        <br><br>
        <input type="submit" value="Submit">
        
    </form>
</body>
</html>